.container {

}

.close-icon-container{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 40px;
}

.h3 {
  font-size: 30px;
}
@media (max-width: 991px ){
  .h3 {
    font-size: 38px;
  }
}
@media (max-width: 767px ){
  .h3 {
    font-size: 22px;
  }
}

$padding-horintal : 160px;

.main-text-container {
  padding-left:  $padding-horintal;
  padding-right:  $padding-horintal;
  padding-bottom:  36px;
}

$padding-horintal : 80px;

@media (max-width: 991px) {
  .main-text-container{
    padding-left: $padding-horintal;
    padding-right:  $padding-horintal;
    padding-bottom:  36px;
  }  
}

$padding-horintal : 30px;

@media (max-width: 767px) {
  .main-text-container{
    padding-left: $padding-horintal;
    padding-right:  $padding-horintal;
    padding-bottom:  36px;
  }  
}

.container1-text, .container2-text{
  font-family: 'Proxima Nova';
  font-size: 16px;
  line-height: 32px;
}

.container1-text{
  margin-bottom: 40px;
}

