.popup   {
    max-width: 1280px!important;
    width: 100%!important;
}
.popup .modal-content {
    max-width: 100%!important;
}
@media (max-width: 991px) {
    .popup   {
        max-width: 768px!important;
    }
}

@media (max-width: 767px) {
    .popup   {
        max-width: 320px!important;
    }
}